bottleneck == 1.3.6

#Library used to create the API REST services. 
Flask == 3.0.3

#Library used for the insertion task.
numpy == 1.26.4

#Library needed to carry out the insertions in a more optimal way. 
pandas == 2.2.2 

#Library needed to create the payloads for both the simulation and the server.
requests == 2.32.2 

#Library used to store logs. 
#logging == 0.4.9.6 

#
inflect == 7.2.1

# 
#Install only 2.15.0 or there will be a problem: https://github.com/google-ai-edge/mediapipe/issues/5229
tensorflow == 2.15.0